# OS / junk
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.venv/
aipnd/
env/
venv/

# Data / assets (do NOT commit dataset)
assets/flower_data/
assets/*.tar
assets/*.mat
assets/segmim/
assets/.DS_Store

# Model checkpoints
*.pth

# Local test images
*.jpg

# Local data / models
assets/
*.pth
.venv/
__pycache__/
.ipynb_checkpoints/
